body {
  text-align: center;
  background-image: url("../Images/wallpaper.jpg");
}

img {
  position: absolute;
  left: 2%;
  bottom: 2%;
}

.job-board {
   width: 250px;
   height: 163px;
   position: absolute;
   top: 25px;
   right: 45px;
   color: #fff;
   font-family: Helvetica;
   padding: 5px;
   font-size: 20px;
   background-image: url("../Images/job-board.jpg");
   background-size: cover;
}

#clock {
   border-radius: 50%;
   height: 100px;
   width: 100px;
   position: absolute;
   top: 50px;
   left: 40%;
