body {
  text-align: center;
  background-image: url("../Images/wallpaper.jpg");
}

img {
  position: absolute;
  left: 2%;
  bottom: 2%;
}

h2 {
   margin: 10px 0;
}

.job-board {
   width: 270px;
   height: 175px;
   position: absolute;
   top: 25px;
   right: 45px;
   color: #fff;
   font-family: Helvetica;
   padding: 5px;
   font-size: 20px;
   background-image: url("../Images/job-board.jpg");
   background-size: cover;
}

#clock {
   border-radius: 50%;
   height: 100px;
   width: 100px;
   position: absolute;
   top: 50px;
   left: 40%;
}

.reply {
   display: none;
   margin: 0 5px 5px 5px;
   background-color: #37e2d9;
   border: groove 4px gold;
   border-radius: 5px;
}
