html {
   background-color: #292929;
   opacity: .8;
   text-align: center;
   overflow-x: hidden;
}

::-webkit-scrollbar {
   display: none;
}

::selection {
   background: none;
}

.container {
   margin: 15px;
   border: ridge 8px gold;
   background-color: rgba(0, 0, 0, 0.8);
   border-radius: 4px;
}

.much {
   position: sticky;
   top: 0;
   margin: 15px -25px 15px -25px;
   border: ridge 8px gold;
   background-color: rgba(0, 0, 0, 0.9);
   border-radius: 4px;
   z-index: 1;
   color: #fff;
}

h2 {
  color: #a9b4c3;
}

.item, .locked {
  height: 90px;
  width: 90px;
  display: inline-block;
  border: groove 2px gold;
  margin: 2px 0px;
  padding: 8px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  position: relative;
}

.item {
   overflow: scroll;
}

.locked p {
   color: #f94179;  /*#a94179*/
   text-shadow: 1px 1px 2px #f94179,
      1px -1px 2px #f94179,
      -1px 1px 2px #f94179,
      -1px -1px 2px #f94179;
   transform: rotateZ(-45deg);
   font-family: Helvetica;
   font-size: 38px;
   position: absolute;
   top: -10px;
   left: -10px;
}
