body {
  font-family: Helvetica;
  text-align: center;
  padding: 25px;
}

.start-button {
  width: 260px;
  height: 150px;
  background-image: radial-gradient(lightgreen, cornflowerblue);
  border: ridge 8px lightblue;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  text-shadow: 5px 5px 5px #000;
}

.explain {
  visibility: collapse;
}

#help {
  padding: 5px 9px;
  position: fixed;
  top: 5px;
  left: 5px;
  border: ridge 3px #262626;
  border-radius: 50%;
  animation: notice 2s 8 5s;
}

@keyframes notice {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 2px 2px 12px 2px lightblue,
                    2px -2px 12px 2px lightblue,
                    -2px 2px 12px 2px lightblue,
                    -2px -2px 12px 2px lightblue,
                    inset 2px 12px 2px 2px lightblue,
                    inset 2px -12px 2px 2px lightblue,
                    inset -2px 12px 2px 2px lightblue,
                    inset -2px -12px 2px 2px lightblue;
  }
  100% {
    box-shadow: none;
  }
}
