body, html {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #000;
}

.column-container {
   height: 95vh;
   width: 95vw;
   display: grid;
   grid-template-areas:
      'a b'
      'a b'
      'c b'
      'c b'
      'c d'
      'c d'
      'c d'
      'c f'
      'e f'
      'e f'
      'e f'
      'e f'
      'e f';
}

.column-item {
   border: ridge grey 8px;
   margin: 5px;
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.5);
}

.column-item:nth-child(1) {
   grid-area: a;
}

.column-item:nth-child(2) {
   grid-area: b;
}

.column-item:nth-child(3) {
   grid-area: c;
}

.column-item:nth-child(4) {
   grid-area: d;
}

.column-item:nth-child(5) {
   grid-area: e;
}

.column-item:nth-child(6) {
   grid-area: f;
}
