body, html {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #000;
   background-image: url("../Images/squares.png");
   background-size: cover;
   font-family: Helvetica;
}

.column-container {
   height: 95vh;
   width: 95vw;
   display: grid;
   grid-template-areas:
      'a b'
      'a b'
      'c b'
      'c b'
      'c d'
      'c d'
      'c d'
      'c f'
      'e f'
      'e f'
      'e f'
      'e f'
      'e f';
}

.column-item {
   margin: 5px;
   width: auto;
   padding: auto;
   position: relative;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.7);
   border: solid 8px transparent;
   border-image: url(../Images/border.jpg) 50 stretch;
}

.column-item:nth-child(1) {
   grid-area: a;
}

.column-item:nth-child(2) {
   grid-area: b;
}

.column-item:nth-child(3) {
   grid-area: c;
}

.column-item:nth-child(4) {
   grid-area: d;
}

.column-item:nth-child(5) {
   grid-area: e;
}

.column-item:nth-child(6) {
   grid-area: f;
}

#market {
   padding: 25px 0 0 0;
}

#market i {
   font-size: 50px;
   margin: auto;
   transition: all .5s;
}

#market i:hover {
   animation: hover .5s infinite linear alternate;
   transform-origin: bottom center;
   text-shadow: 2px 2px 25px rgb(35, 236, 235);
}

@keyframes hover {
   0% {
      transform: rotate(15deg) translateY(-8px);
   }
   100% {
      transform: rotate(-15deg)translateY(-8px);
   }
}
